body {
    background-color: #f6f7fb;
    font-family: "Segoe UI", sans-serif;
}

.sidebar {
    background: royalblue;

    width: 260px;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    border-right: 1px solid #eee;

    display: flex;
    flex-direction: column;
}


.sidebar a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 6px;
    transition: 0.2s;
}

.sidebar a.active,
.sidebar a:hover {
    background: #e9f0ff;
    color: black;
}

.main {
    margin-left: 260px;
}

.title {
    color:red;
}

.topbar {
    background: #ffffff;
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
}

.card {
    border: none;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.icon-box {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        width: 100%;
    }
    .main {
        margin-left: 0;
    }
}
.footer-text {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1px;
    font-size: 12px;
    color:lightgray;

}
/* Container */
.admin-dropdown {
    position: relative;
}

/* Button */
.admin-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
    color: skyblue;
    font-weight: bold;
}


/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 110%;
    right: 0;
    background: #ffffff;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.25s ease;
    z-index: 999;
}

/* Visible state */
.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Menu items */
.dropdown-menu a {
    display: block;
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-menu a:hover {
    background: #f5f7fa;
}






