body {
    height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url('/images/PMS.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

button.btnbg {
    background: royalblue;
    color: white;
}

button.btnbg:hover {
    background: cornflowerblue;
    color: white;

}

.login-card h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: royalblue;
}

