#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    /*gap: 7px;*/
}

.toast {
    min-width: 250px;
    margin-bottom: 10px;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast.success {
    background-color: darkgreen;
}

.toast.error {
    background-color: darkred;
}

.toast.info {
    background-color: royalblue;
}

.toast .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}