<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">

<section class="container-fluid px-4 mt-3">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <div class="page-header">
        <h4 class="mb-0">Sales Ledger</h4>
        <button class="btn btn-primary btn-action" onclick="openSaleModal()">
            <i class="fas fa-plus"></i> New Sale
        </button>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 ms-auto">
            <div class="input-group search-input-group">
                <span class="input-group-text bg-white">
                    <i class="fas fa-search text-muted"></i>
                </span>
                <input type="text" id="salesSearch" class="form-control"
                       placeholder="Search Sales..">
            </div>
        </div>
    </div>

    <div class="card custom-card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover table-custom mb-0">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Date</th>
                        <th>Total Items</th>
                        <th>Total Amount</th>
                        <th>Seller</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sale : ${sales}">
                        <td class="td-id text-center" th:text="${sale.id}"></td>
                        <td th:text="${#temporals.format(sale.timestamp, 'dd/MM/yyyy')}"></td>
                        <td class="text-center" th:text="${sale.calculateTotalQuantity()}"></td>
                        <td class="td-price" th:text="${currencySymbol + ' ' + #numbers.formatDecimal(sale.totalAmount, 1, 2)}"></td>
                        <td class="td-name">
                            <i class="fas fa-user-tag me-2 text-muted"></i>
                            <span th:text="${sale.sellerName}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="~{modal/sale-modal :: modal}"></div>

    <script th:if="${toastMessage != null}" th:inline="javascript">
        showToast(
                [[${toastMessage}]],
                [[${toastType}]],
                7000
        );
    </script>

    <script th:src="@{/js/sales.js}"></script>

</section>

</html>